@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.item {
    background-color: #4dc183;
    padding: 20px;
}